<!--
	Barra padrão do Bootstrap

	https://getbootstrap.com/docs/4.6/components/navbar/
-->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark fundinho">
  <div>
    <img class="img-logo" src="../../public/img/logo-book-for-you.png" />
    <a class="navbar-brand Nm-logo pretinho" href="/"> Book For You </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggler" aria-controls="navbarToggler" aria-expanded="false" aria-label="Alternar navegação">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarToggler">
    <div class="navbar-nav flex-grow-1 navbar-underline">
      <a class="pretinho underline" href="/">Home</a>
      <a class="pretinho espacinho underline" href="/livro/listarLivro">Livros</a>
      <a class="pretinho espacinho underline" href="/sobre">Sobre Nós</a>
    </div>
    <div class="navbar-nav">
      <a class="nav-link btn-publicar-livro" href="/livro/cadastroLivro"> Publicar Livro </a>
    </div>
  </div>
</nav>
