img {
	max-width: 100%;
}

html, body { 
	font-family: 'Inter', sans-serif;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

/* .rodape { */
	/* text-align: center; */
	/* background-color: black; */
	/* padding: 2rem; */
/* } */

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
} */


.rodape-col{
    padding-top: 20px;
    padding-left: 130px;
}
.social-links {
    display: flex;
    justify-content: center; /* Alinha os ícones horizontalmente no centro */
    align-items: center; /* Alinha os ícones verticalmente no centro */
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #ca765e;
    color: #ca765e;
    transition: all 0.5s ease;
    text-decoration: none;
}

.social-links a:hover {
    color: #FFF;
    background-color: #ca765e;
    border-color: #FFF;
}




  /* <-- footer --> */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-rodape{
	max-width: 1170px;
	margin: auto;
}

.row-rodape{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
	padding:0;
}

.rodape{
	background-color: #2F3033;
	padding: 70px 0;
} 

.rodape-col{
	width: 25%;
	padding: 0 15px;
}

.rodape-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.rodape-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #CA765E;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.rodape-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.rodape-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.rodape-col ul li a:hover{
	color: #CA765E;
	padding-left: 8px;
}

.rodape-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	transition: all 0.5s ease;
}

.rodape-col .social-links a:hover{
	color: #CA765E;
	background-color: #ffffff;
}

/* <!-- responsive --> */
@media(max-width: 767px){
	.rodape-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	.rodape-col{
		width: 100%;
	}
}



/* <-- Navbar --> */
.navbar-nav {
	display: flex;
	justify-content: center;
	/* flex-grow: 1; */
}

.navbar-nav .nav-link {
	margin: 0 20px; /* Adicione margem entre os nav-links se desejar */
}

.btn-publicar-livro {
    padding: 7px;
    background-color: #CA765E;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 10px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease-out;
}

.btn-publicar-livro:hover {
    background-color: #ff8b33;
	text-decoration: none;
    transform: scale(1.1);
}

.btn-ver-mais {
    padding: 7px 18px 7px 18px;
    background-color: #CA765E;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 10px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease-out;
}

.btn-ver-mais:hover {
    background-color: #ff8b33;
	text-decoration: none;
    transform: scale(1.1);
}

.container-btn-ver-mais{
	padding-left: 16px;
	padding-bottom: 200px;
}
.Nm-logo{
	font-weight: 500;
	font-size: 20px;
	font-weight: 600;
	padding-left: 10px;
}

.img-logo{
	width: 43px;
	height: 47px;
}

.btn-publicar-livro:after {
    display: none;
}

.pretinho{
	text-decoration: none !important;
	color: black;
}

.espacinho{
	padding-left: 200px;
	text-decoration: none !important;
}
.salmaozinho{
	color: #CA765E;
	font-weight: 700;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.cinzinha{
	color: #636363;
	padding-left: 20px;
	padding-bottom: 5px;
}
.fundinho{
	background-image: url("../../public/img/background.png");
}
.centrinho{
	text-align: center;
}
.espacinho1{
	padding-top: 50px;
	padding-bottom: 50px;
}
.espacinhocabecalho{
	padding-top: 50px;
}

.espacinhoimg{
	padding-top: 30px;
}
 
.botao-sobre {
	/* box-shadow: 0 0 5px #ca765e, 0 0 25px #ca765e; */
	background-color: #ca765e;
	color: #fff;
	border-radius: 10px;
	width: 120px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
	border: none;
  }

  .nome{
	color: #141f59;
  }

  .espacocimasobre{
	padding-top: 50px;
	padding-bottom: 50px;
  }

  .espacofoto{
	padding-bottom: 10px;
  }


  .test-mais-texto{
	padding: 0;
	width: 100%;
}

.underline:after{
	content: '';
	position: absolute;
	background-color: #CA765E;
	text-decoration: none !important;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -6px;
	transition: 0.3s;
}

.underline{
	position: relative;
	text-decoration: none !important;
	font-family: 'Poppins', sans-serif;
	color: #636363;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.underline:hover:after{
	width: 100%;
	text-decoration: none !important;
}

.navbar-nav{
	text-decoration: none !important;
}

.navbar-underline{
	display: flex;
	justify-content: spacing-around;
	margin: auto;
	align-items: center;
	min-width: 600px;
}