img {
	max-width: 100%;
}

html, body { 
	font-family: 'Inter', sans-serif;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

/* .rodape { */
	/* text-align: center; */
	/* background-color: black; */
	/* padding: 2rem; */
/* } */

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
} */









//  <-- footer -->
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-rodape{
	max-width: 1170px;
	margin: auto;
}

.row-rodape{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
	padding:0;
}

.rodape{
	background-color: #2F3033;
	padding: 70px 0;
} 

.rodape-col{
	width: 25%;
	padding: 0 15px;
}

.rodape-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.rodape-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #CA765E;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.rodape-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.rodape-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.rodape-col ul li a:hover{
	color: #CA765E;
	padding-left: 8px;
}

.rodape-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	transition: all 0.5s ease;
}

.rodape-col .social-links a:hover{
	color: #CA765E;
	background-color: #ffffff;
}

/* <!-- responsive --> */
@media(max-width: 767px){
	.rodape-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	.rodape-col{
		width: 100%;
	}
}