img {
	max-width: 100%;
}

html, body { 
	font-family: 'Inter', sans-serif;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
}

.limitador {
	max-width: 1200px;
	margin: 0px auto;
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	min-height: 100vh;
	display: flex;
	flex-direction: column;
	flex-wrap: nowrap;
}

.conteudo {
	/* Para fazer o rodapé ficar sempre na parte inferior da página ;) */
	flex: 1 1 auto;
}

/* .rodape { */
	/* text-align: center; */
	/* background-color: black; */
	/* padding: 2rem; */
/* } */

.link-rodape, .link-rodape:hover {
	color: white;
	text-decoration: none;
} */


.rodape-col{
    padding-top: 20px;
    padding-left: 130px;
}
.social-links {
    display: flex;
    justify-content: center; /* Alinha os ícones horizontalmente no centro */
    align-items: center; /* Alinha os ícones verticalmente no centro */
}

.social-links a {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40px;
    width: 40px;
    margin: 0 10px 10px 0;
    text-align: center;
    line-height: 40px;
    border-radius: 50%;
    border: 2px solid #ca765e;
    color: #ca765e;
    transition: all 0.5s ease;
    text-decoration: none;
}

.social-links a:hover {
    color: #FFF;
    background-color: #ca765e;
    border-color: #FFF;
}




  /* <-- footer --> */
*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

.container-rodape{
	max-width: 1170px;
	margin: auto;
}

.row-rodape{
	display: flex;
	flex-wrap: wrap;
}

ul{
	list-style: none;
	padding:0;
}

.rodape{
	background-color: #2F3033;
	padding: 70px 0;
} 

.rodape-col{
	width: 25%;
	padding: 0 15px;
}

.rodape-col h4{
	font-size: 18px;
	color: #ffffff;
	text-transform: capitalize;
	margin-bottom: 35px;
	font-weight: 600;
	position: relative;
}

.rodape-col h4::before{
	content: '';
	position: absolute;
	left: 0;
	bottom: -10px;
	background: #CA765E;
	height: 2px;
	box-sizing: border-box;
	width: 50px;
}

.rodape-col ul li:not(:last-child){
	margin-bottom: 10px;
}

.rodape-col ul li a{
	font-size: 16px;
	text-transform: capitalize;
	color: #ffffff;
	text-decoration: none;
	font-weight: 300;
	color: #bbbbbb;
	display: block;
	transition: all 0.3s ease;
}


.rodape-col ul li a:hover{
	color: #CA765E;
	padding-left: 8px;
}

.rodape-col .social-links a{
	display: inline-block;
	height: 40px;
	width: 40px;
	background-color: rgba(255,255,255,0.2);
	margin: 0 10px 10px 0;
	text-align: center;
	line-height: 40px;
	border-radius: 50%;
	color: #FFFFFF;
	transition: all 0.5s ease;
}

.rodape-col .social-links a:hover{
	color: #CA765E;
	background-color: #ffffff;
}

/* <!-- responsive --> */
@media(max-width: 767px){
	.rodape-col{
		width: 50%;
		margin-bottom: 30px;
	}
}

@media(max-width: 574px){
	.rodape-col{
		width: 100%;
	}
}



/* <-- Navbar --> */
.navbar-nav {
	display: flex;
	justify-content: center;
	/* flex-grow: 1; */
}

.navbar-nav .nav-link {
	margin: 0 20px; /* Adicione margem entre os nav-links se desejar */
}

.btn-publicar-livro {
    padding: 7px;
    background-color: #CA765E;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 10px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease-out;
}

.btn-publicar-livro:hover {
    background-color: #ff8b33;
	text-decoration: none;
    transform: scale(1.1);
}

.btn-ver-mais {
    padding: 7px 18px 7px 18px;
    background-color: #CA765E;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 10px;
    width: 130px;
    font-size: 16px;
    font-weight: 600;
    text-align: center;
    transition: background-color 0.3s, transform 0.2s ease-out;
}

.btn-ver-mais:hover {
    background-color: #ff8b33;
	text-decoration: none;
    transform: scale(1.1);
}

.container-btn-ver-mais{
	padding-left: 16px;
	padding-bottom: 200px;
}
.Nm-logo{
	font-weight: 500;
	font-size: 20px;
	font-weight: 600;
	padding-left: 10px;
}

.img-logo{
	padding-top: 12px;
	padding-left: 5px;
	width: 120px;
}

.btn-publicar-livro:after {
    display: none;
}

.pretinho{
	text-decoration: none !important;
	color: black;
}

.espacinho{
	padding-left: 200px;
	text-decoration: none !important;
}
.salmaozinho{
	color: #CA765E;
	font-weight: 700;
	padding-top: 50px;
	padding-left: 20px;
	padding-bottom: 10px;
}
.cinzinha{
	color: #636363;
	padding-left: 20px;
	padding-bottom: 5px;
}
.fundinho{
	background-image: url("../../public/img/background.png");
}
.centrinho{
	text-align: center;
}
.espacinho1{
	padding-top: 50px;
	padding-bottom: 50px;
}
.espacinhocabecalho{
	padding-top: 50px;
}

.espacinhoimg{
	padding-top: 30px;
}
 
.botao-sobre {
	/* box-shadow: 0 0 5px #ca765e, 0 0 25px #ca765e; */
	background-color: #ca765e;
	color: #fff;
	border-radius: 10px;
	width: 120px;
	margin-top: 20px;
	margin-bottom: 0px;
	padding: 10px;
	border: none;
  }

  .nome{
	color: #141f59;
  }

  .espacocimasobre{
	padding-top: 50px;
	padding-bottom: 50px;
  }

  .espacofoto{
	padding-bottom: 10px;
  }


  .test-mais-texto{
	padding: 0;
	width: 100%;
}

.underline:after{
	content: '';
	position: absolute;
	background-color: #CA765E;
	text-decoration: none !important;
	height: 3px;
	width: 0;
	left: 0;
	bottom: -6px;
	transition: 0.3s;
}

.underline{
	position: relative;
	text-decoration: none !important;
	font-family: 'Poppins', sans-serif;
	color: #636363;
	font-size: 16px;
	letter-spacing: 0.5px;
	padding: 0 10px;
}

.underline:hover:after{
	color: #636363;
	width: 100%;
	text-decoration: none !important;
}

.navbar-nav{
	text-decoration: none !important;
}

.navbar-underline{
	display: flex;
	justify-content: spacing-around;
	margin: auto;
	align-items: center;
	min-width: 600px;
}

.hero{
    width: 100%;
    min-height: 100vh;
    display: flex;
    align-content: center;
    justify-content: center;    
}

#drop-area{
    width: 400px;
    height: 500px;
    padding: 30px;
    background: #fff;
    text-align: center;
    border-radius: 20px;
}

#img-view{
	padding-top: 30px;
    width: 100%;
    height: 100%;
    border-radius: 20px;
    border: 2px dashed #ffdbac;
    background: #fffdfa;
    background-position: center;
    background-size: cover;
}

#img-view img{
    width: 100px;
    margin-top: 25px;
}

#img-view span {
    display: block;
    font-size: 12px;
    color: #777;
    margin-top: 15px;
}

.card-livro {
    width: 100%;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    text-align: center;
}

.card-livro h1 {
    margin-bottom: 10px;
    color: #333;
}

.card-livro p {
    color: #666;
}

.card-img-livro {
    width: 160px;
    height: 260px;
    padding-bottom: 20px;
}

.autor-text-card{
	color:#a3a3a3;
	font-weight: none;
}

/* Estilo padrão para .hover-card e .card-livro */
.hover-card, .card-livro {
	color: #2F3033;
	text-decoration: none;
    /* Adicione estilos padrão aqui */
    transition: transform 0.3s ease; /* Adiciona uma transição suave ao efeito de transformação */
}

/* Estilo de hover para .hover-card */
.hover-card:hover {
	text-decoration: none;
    transform: scale(1.1); /* Aumenta o tamanho em 10% quando em hover */
}

/* Estilo de hover para .card-livro */
.card-livro:hover {
	text-decoration: none;
    transform: scale(1.1); /* Aumenta o tamanho em 10% quando em hover */
}

.estrela {
    width: 30%; /* Largura inicial */
    height: auto; /* Altura automática para manter a proporção original */
    max-width: 100%; /* Garante que a largura não ultrapasse o contêiner pai */
}

.image-livro-detail{
	padding-top: 20px;
	padding-bottom: 20px;	
}

.container-listar {
    margin: 0 auto;
    padding: 0 20px;
    width: 97%;
    background-color: #F3E7DD;
    display: flex;
    justify-content: center; /* Apenas uma propriedade justify-content deve ser usada aqui */
    align-items: center;
    height: 40vh; 
    border-radius: 15px;
    overflow: hidden;
	padding-bottom: 20px !important; 
}

.text-listar{
	padding-top: 60px;
	padding-bottom: 10px;
}

.card-livro-padding{
	padding-top: 30px;
	padding-bottom: 30px;
}

input.error {
	color: red;
    border: 1px solid red;
    background-color: #ffe6e6;
}

.error{
	color: red;
}

.espaco-container-listar{
	padding-top: 10px;
}



.button-slide {
    padding: 5px 13px 5px 13px;
    background-color: #CA765E;
    color: #FFFFFF !important;
    text-decoration: none;
    border-radius: 7px;
    font-size: 14px;
    font-weight: 500;
    text-align: center;
    display: inline-block; /* Para garantir que o link seja exibido como bloco */
    transition: background-color 0.3s, transform 0.2s ease-out;
}

.button-slide:hover {
    background-color: #ff8b33;
    text-decoration: none;
    transform: scale(1.1);
}

.button-slide:after {
    display: none;
}

.desc-container-slide{
	color: #8f8c89;
	font-size: 17px;
}