<div class="container-fluid fundinho espacinhocabecalho">
	<div class="row">
	  <div class="col-sm-6">
		<h1 class="salmaozinho">Compartilhando <span class="pretinho ">Conhecimento, Oferecendo Leituras </span><span class="test-mais-texto salmaozinho"></span></h1>

		<p class="cinzinha">
		  O ponto de encontro definitivo para amantes de livros que desejam trocar
		  e vender suas preciosas edições, conectando leitores apaixonados em uma
		  comunidade literária vibrante e envolvente.
		</p>

		<div class="container-btn-ver-mais">
			<a href="/livros" class="btn-ver-mais">Ver Mais</a>
		</div>
	  </div>
  
	  <div class="col-sm-6 img-livro-home">
		<img class="img-livro-home" src="../../public/img/livro_landing.png" width="400" />
	  </div>
	</div>
  </div>
  
  <h2 class="centrinho espacinho1">Como Funciona?</h2>
  <div class="container-fluid centrinho espacinho1">
	<div class="row">
	  <div class="col-sm-4">
		<img src="../../public/img/Download.png" />
		<p class="espacinhoimg">
		  Dê vida à sua paixão pela escrita compartilhando suas histórias na nossa
		  comunidade literária através do recurso 'Publicar um Livro'. Apresente
		  sua obra-prima ao mundo de forma simples e eficaz.
		</p>
	  </div>
  
	  <div class="col-sm-4">
		<img src="../../public/img/Livro.png" />
		<p class="espacinhoimg">
		  Escolha a capa perfeita, faça o upload do manuscrito e forneça uma
		  sinopse intrigante do seu livro. Nossa plataforma é projetada para
		  tornar o processo de publicação simples e intuitivo.
		</p>
	  </div>
  
	  <div class="col-sm-4">
		<img src="../../public/img/Group 8.png" />
		<p class="espacinhoimg">
		  Depois de publicar, seu livro será apresentado em nossa plataforma, onde
		  milhares de leitores apaixonados poderão descobri-lo. Destaque-se com
		  uma capa atraente e uma descrição cativante.
		</p>
	  </div>
	</div>
  </div>
  
  <script>
	document.addEventListener("DOMContentLoaded", function() {
		const typed = new Typed('.test-mais-texto', {
			strings: ['Perfeitas!', 'Bonita!', 'Inigualáveis!'],
			typeSpeed: 100,
			backSpeed: 100,
			backDelay: 1000,
			loop: true
		});
	});
	</script>