<div class="container-fluid fundinho espacocimasobre">
  <div class="row">
    <div class="col-sm-4 centrinho">
      <img src="../../public/img/Foto - Alek.png" alt="Alex Macedo" class="espacofoto" />
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/davivosk/"><i
            class="fa-brands fa-linkedin-in fa-lg"></i></a>
        <a target="_blank" href="https://www.instagram.com/davivosk/"><i class="fa-brands fa-github fa-lg"></i></a>
        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=558196339976&text&type=phone_number&app_absent=0"><i
            class="fa-brands fa-instagram fa-lg"></i></a>
      </div>
    </div>

    <div class="col-sm-6">
      <h1 class="nome">Alex Macedo</h1>
      <p>Estudando Programação, com experiência em projetos, me reconheço como entusiasta em novas tecnologias
        do mercado, com aprendizado adquirido dia após dia. Possuo foco em desenvolvimento com Javascript, Typescript,
        React, React Native, Styled-Components, NodeJS dentre outras tecnologias que uso para criar aplicações
        web/mobile de alto nível e valor. Me considero ágil e consistente em aprender uma nova linguagem e me adaptar
        à qualquer mudança, pronto para superar qualquer desafio!Se eu pudesse me definir em 3 palavras, certamente
        seriam: otimista, perseverante e esforçado! :)</p>
      <Button class="botao-sobre">Ver Mais</Button>
    </div>
  </div>
</div>

<div class="container-fluid espacocimasobre">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="nome">Débora Duarte</h1>
      <p>Sou graduanda em Sistemas de Informação pela ESPM São Paulo, e me destaco pela minha
        adaptabilidade e abordagem objetiva diante de desafios. Embora tenha um período
        relativamente curto de experiência, desempenhei papéis importantes como Representante
        de Classe, Aprendiz em Tecnologia e atualmente atuo como Estagiária. Essas oportunidades
        enriqueceram minhas habilidades em planejamento, autogestão e construção de
        relacionamentos interpessoais. Gosto da inovação, criatividade e me considero comunicativa,
        proativa e flexível. Valorizo o aprendizado e o desenvolvimento de relações positivas.</p>
      <Button class="botao-sobre">Ver Mais</Button>
    </div>

    <div class="col-sm-6 centrinho">
      <img src="../../public/img/Foto - Debora.png" alt="Débora Duarte" class="espacofoto" />
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/deborapduarte/"><i
            class="fa-brands fa-linkedin-in fa-lg"></i></a>
        <a target="_blank" href="https://github.com/duartedebis"><i class="fa-brands fa-github fa-lg"></i></a>
        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=558196339976&text&type=phone_number&app_absent=0"><i
            class="fa-brands fa-instagram fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid fundinho espacocimasobre">
  <div class="row">
    <div class="col-sm-4 centrinho">
      <img src="../../public/img/Foto - Calabresa.png" alt="Henrique Sardella" class="espacofoto" />
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/davivosk/"><i
            class="fa-brands fa-linkedin-in fa-lg"></i></a>
        <a target="_blank" href="https://www.instagram.com/davivosk/"><i class="fa-brands fa-github fa-lg"></i></a>
        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=558196339976&text&type=phone_number&app_absent=0"><i
            class="fa-brands fa-instagram fa-lg"></i></a>
      </div>
    </div>

    <div class="col-sm-6">
      <h1 class="nome">Henrique Sardella</h1>
      <p>Estudante de Sistemas de Informação, apaixonado por tecnologia e inovação. <br>
        Experiência em criação de jogos e desing. <br>
        Programador Full Stack</p>
      <Button class="botao-sobre">Ver Mais</Button>
    </div>
  </div>
</div>

<div class="container-fluid espacocimasobre">
  <div class="row">
    <div class="col-sm-6">
      <h1 class="nome">Taly Menache</h1>
      <p>Como uma estudante de Sistemas de Informação na ESPM, estou imersa no mundo da tecnologia.
        Estou aprendendo a lógica por trás da programação, caminhando no mundo do JavaScript e Java.
        Mas o que realmente me cativa é o universo dos dados, especialmente o uso inteligente de dados
        nas empresas. Estou desenvolvendo habilidades em ferramentas como SQL e Tableau para compreender
        melhor os dados. Além disso, devido a um intercâmbio que fiz em Israel, sou fluente em inglês e
        é uma paixão explorar sites como "Career Foundry" no tempo vago. Estou sempre em busca de
        aprendizado e aperfeiçoamento, especialmente neste campo em constante evolução da tecnologia.</p>
      <Button class="botao-sobre">Ver Mais</Button>
    </div>

    <div class="col-sm-6 centrinho">
      <img src="../../public/img/Foto - Taly.png" alt="Taly Menache" class="espacofoto" />
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/davivosk/"><i
            class="fa-brands fa-linkedin-in fa-lg"></i></a>
        <a target="_blank" href="https://www.instagram.com/davivosk/"><i class="fa-brands fa-github fa-lg"></i></a>
        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=558196339976&text&type=phone_number&app_absent=0"><i
            class="fa-brands fa-instagram fa-lg"></i></a>
      </div>
    </div>
  </div>
</div>
</div>

<div class="container-fluid fundinho espacocimasobre">
  <div class="row">
    <div class="col-sm-4 centrinho">
      <img src="../../public/img/Foto - Thigas.png" alt="Thiago Alonso" class="espacofoto" />
      <div class="social-links">
        <a target="_blank" href="https://www.linkedin.com/in/davivosk/"><i
            class="fa-brands fa-linkedin-in fa-lg"></i></a>
        <a target="_blank" href="https://www.instagram.com/davivosk/"><i class="fa-brands fa-github fa-lg"></i></a>
        <a target="_blank"
          href="https://api.whatsapp.com/send/?phone=558196339976&text&type=phone_number&app_absent=0"><i
            class="fa-brands fa-instagram fa-lg"></i></a>
      </div>
    </div>

    <div class="col-sm-6">
      <h1 class="nome">Thiago Alonso</h1>
      <p>Graduando de Sistemas de Informação pela ESPM São Paulo, e me destaco pela minha adaptabilidade e abordagem objetiva diante de desafios. <br><br>

        Gosto da inovação, criatividade e me considero comunicativo, proativo e flexível. Valorizo o aprendizado e o desenvolvimento de relações positivas.</p>
      <Button class="botao-sobre">Ver Mais</Button>
    </div>
  </div>
</div>